@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/*RELOLECCIPONES*/

/*.input-form {*/
/*    @apply border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500;*/
/*}*/
/*.span-error {*/
/*    @apply absolute inset-y-0 left-2 top-0 flex items-start pr-3 text-red-500 text-xs transition-opacity duration-1000 ease-in-out;*/
/*}*/

.anchoAnimado1{
    width: 15rem;
    animation: ancho 1s ease-in-out;
}
.anchoAnimado2{
    width: 6rem;
    animation: ancho2 1s ease-in-out;
}
.altoAnimado1 {
    height: 30rem;
    animation: alto 1s ease-in-out;
}
.altoAnimado2 {
    height: 4rem;
    animation: alto2 1s ease-in-out;
}
.opacity-transition {
    transition: opacity 0.5s ease-in-out;
}

.opacity-0 {
    opacity: 0;
}
@media(max-width: 767px){
    .opacity-0{
        opacity: 100;
    }
    .ocultar{
        display: none;
    }
}
@keyframes alto {
    0% {height: 4rem;}
    100% {height: 30rem;}
}
@keyframes alto2 {
    0% {height: 30rem;}
    100% {height: 4rem;}
}

@keyframes ancho {
    0% {width: 4rem;}
    100% {width: 15rem;}
}
@keyframes ancho2 {
    0% {width: 15rem;}
    100% {width: 4rem;}
}

/* Estilos del scrollbar para WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #0056b3;
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}

/* Estilos del scrollbar para Firefox */
.scrollbar {
    width: 4px;
}
.scrollbar-thumb {
    background-color: #0056b3;
    border-radius: 50px;

}
.scrollbar-track {
    background-color: #fff;
}

/* styles.css */

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
}

.dropdown-menu.open {
    max-height: 500px; /* Ajusta la altura máxima según sea necesario */
}

/* Ejemplo 1: Fondo de color diferente */
.active {
    background-color: #f0f0f0; /* Color de fondo para elementos activos */
}
